body {
  margin: 0;
  position: absolute;
}

img {
  width: 100%;
}

.bc-col {
  width: 4%;
  float:left;
}

.bc-row-one {
  position: relative;
  overflow: hidden;
  left:0;
  top:0;
  height: 100%;
  width:100%;
  animation: backgroundScroll 10s infinite alternate;
}

@keyframes backgroundScroll {
  0% { left: 0%; }
  100% { left: 100%; }
}
