body {
  margin: 0;
  position: absolute;
  background: black;
}

img {
  width: 100%;
}

.bc-col {
  position: relative;
  width: 4%;
  float: left;
}
.bc-col:hover {
  filter: invert(100%) hue-rotate(300deg);
}

.bc-row-nine {
filter: saturate(130%);
}

.bc-row-ten {
filter: saturate(120%) hue-rotate(360deg);
}

.bc-row-eight {
filter: saturate(140%) hue-rotate(350deg);
}

.bc-row-seven {
filter: saturate(200%)hue-rotate(355deg);
}

.bc-row-six {
filter: saturate(140%);
}

.bc-col:hover {
  filter: invert(100%);
}

/* large tablet view */
@media screen and (max-width: 1200px){

body {
width:100%;
}

.bc-col {
  width: 10%;
}

/* ipad/tablet view */
@media screen and (max-width: 780px){

body {
width:100%
}

.bc-col {
  width: 10%;
}

/* mobile view  */
@media screen and (max-width: 580px) {

body {
width:100%;
}

.bc-col {
  width: 10%;
}
